// basic styling
body{
  //bg
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //font
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;

}
