// variables

//font
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

//screen resolution
$screen-lg-min: 1100px;
$screen-md-min: 992px;
$screen-sm-min: 768px;