// button styling

button{
  //bg
  background-color: rgba(253, 115, 20, 1);
  //padding
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  //color
  color: white;
  //border
  border-radius: .5rem;
  border-width: 0;
}